.footer-container {
    background-color: #fff;
    color: #23415c;
}

.icon {
    color: #23415c;
    font-size: 1.8rem;
    transition: .10s;
}

.icon:hover {
    padding: 2px;
}

.footer-container p {
    font-size: 1.2rem;
    padding: 50px 100px 50px;
}

@media only screen and (min-width: 1000px) {
    .footer-container {
        width: 100%;
        height: 400px;
    }
}

.footer-cards {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px 0px 50px;
}

.footer-card {
    width: 100%;
    height: 200px;
    background-color: transparent;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    text-transform: capitalize;
    justify-content: space-evenly;
}

.footer-container h2 {
    font-size: 2rem;
    text-transform: capitalize;
    padding: 50px 0px 100px;
    text-align: center;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    .footer-cards {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding: 30px 10px 30px;
    }
    .footer-card {
        width: 100%;
        height: 200px;
        font-size: 1rem;
    }
    .footer-container p {
        font-size: 1rem;
    }
    .icon {
        font-size: 1.5rem;
    }
}